* {
    font-size: 11px;
    font-family: monospace,serif;
}

table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

thead tr th,tfoot tr td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

tfoot tr td,
th.description {
    padding: 3px 0;
}
td.description {
    padding: 2px 0;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

td.price,
th.price {
    width: 80px;
    max-width: 80px;
    word-break: break-all;
    text-align: right;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 195px;
    max-width: 195px;
}

img {
    max-width: inherit;
    width: inherit;
}
div.order_no{
    margin-bottom: 3px;
}
@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}